#!/usr/bin/env bash

alias cvi="vim ~/.vim/vimrc"
alias vi="vim --noplugin"

alias gst="git status"
alias gaa="git add --all"
alias ga="git add "
alias gc="git commit "
alias gco="git checkout "
alias gb="git branch"
alias gbv="git branch -vv"

alias cls="clear"
alias grep="grep --color=auto"
alias mv='mv -v'
alias mkdir='mkdir -v'
alias cp='cp -v'
alias rm='rm -v'
alias ln='ln -v'
alias ls='ls --color=auto'
alias ll='ls -Grlth'
alias ..='cd ../'                           # Go back 1 directory level
alias ...='cd ../../'                       # Go back 2 directory levels
alias myip='curl -4 -s http://icanhazip.com'
alias sshproxy='ssh -D 1080 -CqfTnN '
alias icloud="killall bird  && killall cloudd"

if command -v htop > /dev/null 2>&1;
then
	alias top=htop;
fi

if command -v prettyping > /dev/null 2>&1; then
	alias ping=prettyping
fi

if command -v http > /dev/null 2>&1; then
	alias curl=http
	alias wget=http
fi
if command -v fasd> /dev/null 2>&1; then
	eval "$(fasd --init auto)"
fi
