#!/usr/bin/env bash

export EDITOR='vim';
export LC_ALL=en_US.UTF-8;
export LANG=en_US.UTF-8;
export WORKON_HOME='~/.virtualenvs';
export PATH="$WORKON_HOME/bin:$PATH";
export LSCOLORS='CxfxcxdxbxegedabagGxGx';
export CLICOLOR='Yes';
export DYLD_LIBRARY_PATH=/usr/local/opt/openssl/lib:$DYLD_LIBRARY_PATH;
export HSTR_CONFIG=hicolor;       # get more colors
export XDG_CONFIG_HOME="${HOME}/.config";
export LC_ALL=en_US.UTF-8;
export LANG=en_US.UTF-8;
export HISTSIZE='32768';
export GPG_TTY=$(tty);

export HISTIGNORE="history:ls:pwd:";
export HISTTIMEFORMAT='%F, %T ';
export TERM='xterm-256color';
