#!/usr/bin/env bash

r() { grep "$1" ${@:2} -n -R  . ;}
src() { source ~/.bashrc ;}
fdotfiles() {
    git clone https://github.com/killua525/dotfiles.git /tmp/dotfiles;
    pushd /tmp/dotfiles;
    source bootstrap.sh;
    popd;
    rm -rf /tmp/dotfiles;
}

with_proxy() {
    HTTPS_PROXY=socks5://127.0.0.1:1080 HTTP_PROXY=socks5://127.0.0.1:1080 "$@"
}
sdotfiles() {
         rsync --exclude ".git/" \
         --exclude ".DS_Store" \
         --exclude ".osx" \
         --exclude "bootstrap.sh" \
         --exclude "README.md" \
         --exclude "LICENSE" \
         --exclude "brew.sh" \
         --exclude "config" \
         -avh --no-perms . ~;
}


