#!/usr/bin/env bash

r() { grep "$1" ${@:2} -n -R  . ;}
src() { source ~/.bashrc ;}
fdotfiles() {
    git clone https://github.com/killua525/dotfiles.git /tmp/dotfiles;
    pushd /tmp/dotfiles;
    source bootstrap.sh;
    popd;
    rm -rf /tmp/dotfiles;
}
