[submodule "vim/bundle/Vundle.vim"]
	path = vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
[submodule "vim/bundle/vim-colors-solarized"]
	path = vim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = github:jzdxeb/oh-my-zsh.git
[submodule "vim/bundle/vim-snippets"]
	path = vim/bundle/vim-snippets
	url = github:jzdxeb/vim-snippets.git
