!Vundle.vim
!vim-snippets
vim-eunuch
vim-polyglot
ctrlp.vim
vim-markdown
vim-go
nerdtree
YouCompleteMe
vim-quickhl
vim-airline
vim-airline-themes
ack.vim
vim-json
tabular
ultisnips
taglist.vim
riv.vim
